@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);

body{
    background-color: black;
}
body .navbar {
    padding: 20px 60px 24px 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

body .navbar h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 1440px;
    height: 96px;
    border-bottom: 1px;
    margin: 0;
    position: relative;
    right: -50px;
    top: 20px;
    justify-content: space-between;
    line-height: 48px;
    letter-spacing: -1;
  }

  body .logo {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  body .logo ul {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -600px;
  }

  body .logo ul li {
    margin-right: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }

  .logo ul li a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #fff;
    position: relative;
    right: -600px;
  }

  .aboutinfo {
    width: 1200px;
    height: 600px;
    opacity: 100;
    display: flex;
    box-sizing: border-box;
  }

  .text3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 76px;
    color: #fff;
    width: 480px;
    height: 90px;
    margin-left: 83px;
    margin-top: 10px;
  }

  .text4 {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Manrope", sans-serif;
    color: #f1f1f1;
    font-weight: 500;
    margin-right: -189px;
  }

  .text5 {
    margin-left: 560px;
    line-height: 27px;
    margin-top: -490px;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
    color: #c7c7c7;
    font-size: 16px;
    font-weight: 500;
  }

  .contact-me {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #d3e97a;
    gap: 2px;
    margin-left: 595px;
    padding: 15px 15px;
    border-radius: 30px;
    position: relative;
    top: 20px;
    border: none;
    transition: transform 0.2s;
  }

  .contact-me:hover {
    text-decoration: none;
    transform: scale(1.2);
  }

  .cont1 {
    width: 1244px;
    height: 700px;
    opacity: 100;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
    position: relative;
    top: 150px;
  }

  .cont1 img {
    border-radius: 20px;
    width: 1020px;
    height: 800px;
  }

  .cont2 {
    width: 1224px;
    height: 400px;
    opacity: 100;
    display: flex;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
  }

  .p4 {
    color: #fff;
    width: 464px;
    height: 76px;
    padding-left: 65px;
    position: relative;
    top: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 76px;
  }

  .text2 p {
    width: 600px;
    height: 81px;
    position: relative;
    color: #c7c7c7;
    font-family: "Manrope", sans-serif;
  }