@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  color: #c7c7c7;
}

.navbar {
  width: 1000px;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  gap: 850px;
}

.logo h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 32px;
  white-space: nowrap;
}

.logo ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.logo ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.away2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 60px 50px 108px;
  height: 500px;
  gap: 30px;
}

.profile {
  flex: 1;
  max-width: 544px;
}

.profile .name {
  font-size: 101px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  font-weight: 400px;
  width: 544px;
  line-height: 90.9px;
}

.hr1 {
  border: 1px solid #484848;
  position: relative;
  width: 100%;
  top: -214px;
}

.profile .intro {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400px;
  line-height: 27px;
  color: #c7c7c7;
}

.imgme img {
  width: 600px;
  height: 700px;
  object-fit: contain;
  border-radius: 25px;
  float: right;
  position: relative;
  right: 50px;
  top: 90px;
}

.imgme {
  position: relative;
  top: -540px;
  left: -10px;
}

.button {
  position: relative;
  left: 110px;
  top: -50px;
}

.contact-me {
  background-color: #d3e97a;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.iconlinkedin, .icongit {
  position: relative;
  top: 10px;
}

.iconlinkedin img, .icongit img {
    width: 30px; 
    height: 30px;
}
.hr1 {
  width: 100%;
  border: 1px solid #484848;
  position: relative;
  top: 200px;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 60px 50px 108px;
  height: 5px;
  gap: 8px;
  margin-top: 255px;
}

.projects-info {
  flex: 1;
  max-width: 544px;
}

.text1 {
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-weight: 400px;
  height: 90px;
  line-height: 5px;
  letter-spacing: 2px;
  position: relative;
  left: -20px;
}

.text {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400px;
  color: #c7c7c7;
  text-align: left;
  line-height: 27px;
  position: relative;
  top: -50px;
  left: -20px;
}

.cont1 {
  width: 1200px;
  height: 800px;
  display: flex;
  margin-left: 110px;
  margin-top: 30px;
  gap: 35px;
}

.cont1 .projectcard {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 500px;
  height: 590px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  left: -20px;
}

.projectcard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.cardtext h2 {
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 44.8px;
  margin-bottom: 10px;
  text-align: right;
}

.cardtext p1 {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #c7c7c7;
  margin-bottom: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-align: right;
}

.cardtext h3 {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: right;
}

.hr-1, .hr-2, .hr-3 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}

.cont1 .live {
  font-family: "Manrope", sans-serif;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  color: #d3e97a;
  font-size: 18px;
  font-weight: 700;
  padding-left: -10px;
  position: relative;
  top: 20px;
}

.cont1 .github {
  font-family: "Manrope", sans-serif;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  color: #d3e97a;
  font-size: 18px;
  font-weight: 700;
  padding-left: 25px;
  position: relative;
  top: 20px;
}

.cont1 .info a .logo {
  padding-left: 25px;
  position: relative;
  top: -25px;
  left: 260px;
}

.info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 10px;
}

.info1, .info3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 25.6px;
}

.info2, .info4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.cont2 {
  width: 1200px;  
  height: 800px;  
  display: flex;
  margin-left: 110px;
  margin-top: -10px;
  gap: 35px;
}

.cont2 .projectcard {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 500px;
  height: 590px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  left: -20px;
}

.projectcard img {
  width: 100%;  
  height: 100%;
  object-fit: contain;  
  border-radius: 15px;
  max-width: 100%;  
  max-height: 100%;
  margin: auto; 
}

.textcard h2 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 44.8px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.textcard p1 {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #C7C7C7;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  text-align: right;
}

.hr-1, .hr-2, .hr-3 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}

.info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 10px;
}

.info1, .info3, .info5{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 25.6px;
}

.info2, .info4, .info6{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.cardtext h3 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: right;
}

.cont2 .view {
  font-family: "Manrope", sans-serif;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  color: #d3e97a;
  font-size: 18px;
  font-weight: 700;
  padding-left: -10px;
  position: relative;
  top: 20px;
}

.hr-1, .hr-2, .hr-3, .hr-4 {
  border: 1px solid #484848;
  margin: 10px 0;
  width: 100%;
}

.cont3 {
  margin-left: 110px;
  gap: 35px;
  margin-top: -20px;
  width: 1200px;  
  height: 800px;  
  display: flex;
}

.cont3 .projectcard {
  display: flex;
  width: 500px;
  height: 510px;
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px;
  position: relative;
  left: -20px;
  border-radius: 12px;
}

.projectcard img {
  width: 100%;  
  height: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;  
  border-radius: 15px;
  max-width: 100%;    
}

.textcard {
  margin-top: 46px;
}

.textcard p1 {
  display: block;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  font-weight: 400;
  text-align: left;
  line-height: 27px;
}

.textcard h2 {
  line-height: 44.8px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.textcard h3 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-align: left;
}
.hr-1, .hr-2, .hr-3 {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #484848;
}

.info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  font-family: 'Manrope', sans-serif;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.info1, .info3 {
  font-size: 16px;
  text-align: left;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 25.6px;
}

.info2, .info4 {
  text-align: right;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
}

.github {
  font-family: "Manrope", sans-serif;
  color: #d3e97a;
  font-size: 18px;
  font-weight: 700;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  position: relative;
  top: 40px;
  padding-left: 25px;
}

.info a .logo {
  position: relative;
  top: 8px;
  top: -25px;
  padding-left: 25px;
  left: 260px;
}

.live {
  font-family: "Manrope", sans-serif;
  color: #d3e97a;
  font-size: 18px;
  font-weight: 700;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  position: relative;
  top: 40px;
  padding-left: -10px;
}

.hr2 {
  border: 1px solid #484848;
  position: relative;
  width: 100%;
  top: -214px;
}

.aboutinfo {
  width: 1200px;
  height: 600px;
  opacity: 100;
  display: flex;
  box-sizing: border-box;
}

.text3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 76px;
  color: #fff;
  width: 464px;
  height: 76px;
  margin-left: 83px;
  margin-top: -125px;
  
}

.text4 {
  margin-top: -115px;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  color: #f1f1f1;
  font-weight: 500;
  margin-right: -189px;
}

.text5 {
  margin-left: 547px;
  line-height: 27px;
  margin-top: -640px;
  margin-bottom: 40px;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  margin-top: -630px;
  font-size: 16px;
  font-weight: 500;
}

.moreabout {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #d3e97a;
  margin-left: 548px;
  text-underline-offset: 8px;
  font-size: 16px;
}


.hr3 {
  width: 100%;
  border: 1px solid #484848;
  margin-top: 350px;
}

.ptext1 {
  margin-top: 140px;
  font-size: 18px;
  font-weight: 500;
  margin-left: -450px;
  font-family: "Manrope", sans-serif;
  color: #C7C7C7;
}

.ptext1 a {
  text-decoration: underline;
  text-decoration-color: #d3e97a;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
  color:#FFFFFF;
}

.ptext {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 76px;
  margin-left: 83px;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 464px;
  height: 76px;
  color: #fff;
}

.connectinfo {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  height: 600px;
  opacity: 100;
}

.ptext2 {
  font-family: "Manrope", sans-serif;
  color: #C7C7C7;
  font-weight: 500;
  margin-left: -100px;
  margin-top: 172px;
  font-size: 18px;
}

.ptext2 a {
  text-decoration: underline;
  text-decoration-color: #d3e97a;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  color:#FFFFFF;
}

.connect .icons{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 32px;
  margin-top: -358px;
  position: relative;
  left: 90px;
}

.icons img {
  width: 35px;
  height: 35px;
}

.contact-form {
  width: 600px;
  height: 611px;
  margin-top: 54px;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  position: relative;
  left: 600px;
  top: -270px;
}

input[type="text"],
select,
textarea {
  width: 600px;
  height: 51px;
  padding: 12px;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #1a1a1a;
}

input[type="text"] {
  color: #a7a7a7;
}

#message {
  width: 600px;
  height: 156px;
  padding: 12px;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #1a1a1a;
}

.btn {
  background-color: #d3e97a;
  color: #0a0a0a;
  font-family: 'manrope', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  width: 140px;
  border-radius: 100px;
  border: none;
  padding: 20, 40px;
}

.footer {
  color: #a7a7a7;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 160px;
  height: 26px;
  margin-left: 65px;
  margin-top: 330px;
}

.navbar {
  position: relative;
}
.away1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}
.span {
  display: none; 
  cursor: pointer;
}
.span span {
  display: block;
  position: relative;
  left: 450px;
  top: -20px;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.3s;
}

@media screen and (max-width: 720px), (max-height: 1280 ) { 
  .logo ul li a{
    position: relative;
    left: -500px;
  }
  .imgme img{
    position: relative;
    top: 550px;
    left: 0px;
    width: 100vw; 
  }
  .profile .name{
    font-size: 110px;
  }
  .button .contact-me{
    position: relative;
    top: -700px;
  }
  .button .iconlinkedin, .icongit{
    position: relative;
    top: -690px;
  }
  .cont1{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 877px;
    align-items: center;
    }
  .cont2{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 877px;
    align-items: center;
    position: relative;
    top:  50px;
    }
  .cont3{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 877px;
    align-items: center;
    position: relative;
    top: 200px;
  }
  .about {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 877px;
    align-items: center;
    position: relative;
    top: 550px;
  }
  .aboutinfo .text3{
    display: none;
  }
  .aboutinfo .text4{
    display: none;
  }
  .about .text5{
    position: relative;
    left: -230px;
    top: 300px;
    text-align: justify;
    white-space: nowrap;
    font-size: 80%;
  }
  .hr2{
    position: relative;
    top: 500px;
  }
  .about .moreabout{
    white-space: nowrap;
    position: relative;
    left: -450px;
    top: 270px;
  }
  .hr3{
    position: relative;
    top: -250px;
    width: 825px;
  }
  .connect {
    position: relative;
    left: 280px;
    top: -100px;
  }
  .connect .ptext1{
    position: relative;
    left: -15px;
  }
  .connect .ptext2{
    position: relative;
    left: -10px;
  }
}